*{
    padding: 0;
}

body html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}

.nav-bar{
    display: flex;
    align-items: center;
    /* background-color: skyblue; */
    height: 60px;
    justify-content: center;
}

.nav-logo{
    margin: 12px 12px;
    /* padding: 12px; */
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.fa-solid{
    font-size:40px;
}

.nav-logo span{
    font-size: 30px;
    color: #000000;
}

.content{
    background-color: rgb(152, 108, 108);
    width: 710px;
    height: 80px;
    padding: 12px;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;
    opacity: 0.9;
}

input[type=text]{
    padding: 9px;
    border-radius: 10px;
    border-style: none;
}

input[type=date]{
    padding: 9px;
    border-radius: 10px;
    border-style: none;
}

input[type=number]{
    padding: 9px;
    border-radius: 10px;
    border-style: none;
}

label{
    margin-left: 10px;
}

button{
    margin: 12px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    /* font-size: 20px; */
    cursor: pointer;
}

.hotel-lists{
    width: 800px;
    background-color: rgb(152, 108, 108);
    margin: 20px auto;
    opacity: 0.9;
}

.hotel-1{
    display: flex;
    /* align-items: center; */
}

.hotel-1 img{
    width: 250px;
    height: 210px;
    margin: 5px;
}

.hotel-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 52px;
}

.hotel-details span{
    margin: 12px;
}

.room-list{
    display: flex;
    margin-top: 20px;
}

.room-1{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: center;
}

.room-1 img{
    width: 250px;
    height: 210px;
    display: inline-block;
}

.room-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
}

.room-details span{
    margin: 12px;
}

.reserve{
    background-color: rgb(57, 55, 55);
    width: 60px;
    height: 30px;
    padding: 5px;
    color: white;
}

.reserve:hover{
    color: rgb(205, 126, 8);
}