/* margin padding foll all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background image */
body{
    background-image: url(./bench-accounting-C3V88BOoRoM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* styling main */
.main{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(135, 3, 135, 0.2);
    display: block;
    /* text-align: center; */
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}
/* styling text */
.text{
    text-align: center;
}
/* styling content */
.content{
    background-color: rgba(12, 12, 12, 0.7);
    color: white;
    font-size: 25px;
    font-family: fr;
    padding: 40px;
    width: 690px;
    height: 1550px;
    border-radius: 5px;
}
/* styling label */
label{
    display: block;
    margin: 15px 0 8px;
}
/* styling box */
.box{
    width: 600px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
    margin: 0 0 8px;
}

/* styling select */
p{
    margin: 30px 0 8px;
}

/* styling role */
#role{
    width: 600px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
}

/* styling radio */
.radio{
    width: 20px;
    height: 20px;
}

/* stylingoption */
#option{
    width: 600px;
    height: 35px;
    padding: 6px 12px;
    border-radius: 5px;
}

/* styling checkbox */
.checkbox{
    width: 20px;
    height: 20px;
}

/* styling text1 */
#text{
    width: 632px;
    height: 120px;
    resize: none;
    padding: 10px;
}

/* styling button */
button{
    width: 630px;
    height: 60px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
}